body {
	width: 375px;
	height: 812px;
	position: relative;
    padding: 0px;
    margin: 0px;
}
.homeHeader {
	height: 140px;
	line-height: 140px;
	width: 375px;
	text-align: center;
	border: 1px solid black;
	background-color: gray;
}

.homeMain {
	height: 589px;
	width: 375px;
	text-align: center;
	border: 1px solid black;
}

.profile {
	height: 200px;
	border: 1px solid black;
	text-align: center;

}

.profileContent {
	height: 140px;
	margin-top: 20px;
}

.foodList {
	height: 389px;
}


.profilePic {
	max-height: 60%;
	max-width: 60%;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}

.profile-name {
	font-size: large;
	margin-top: 0px;
}

.ratingStar {
	max-height: 10%;
	max-width: 10%;
	margin-top: 10px;
}



.foodRow {
	height: 10%;
	border: 1px solid black;
}

.foodName{
	position: relative;
	left: 10px;
}


.removeButton {
	float: right;
	position: relative;
	top: 30%;
	right: 15px;
	max-height: 30%;
	max-width: 30%
}

.headerIcon {
	max-height: 8%;
	max-width:  8%;
}

.cartIcon {
	float: left;
	position: relative;
	top: 50px;
	left: 20px;
}

.loupeIcon {
	float: right;
	position: relative;
	top: 50px;
	right: 20px;
}






