body {
	width: 375px;
	height: 812px;
	padding: 0px;
	margin: 0px;	
}


.homeHeader {
	height: 145px;
	line-height: 145px;
	width: 343px;
	padding: 0px 16px;
	text-align: center;
	background-color: #424242;
	color: white;
	font-size: 1.6em;
	font-family: 'Open Sans', sans-serif;
}


.headerIcon {
	max-height: 8%;
	max-width:  8%;
}


#anchor{
	position: relative;
	top: 3px;
}

#header_title{
	color: white;
	font-size: 40px;
}

.searchBarContainer {
	
}

#searchButton{
	float: right;
	position: relative;
	top:2px;
	width: 20%;
	height: 32px;
	border-radius: 3px;
	background-color: white;
}

#searchBar{
	float: left;
	position: relative;
	left: 2.5%;
	width: 75%;
	border-radius: 5px;
	height: 25px;
	margin: 5px auto;
}
.foodBlock{
	width: 375px;
	height: 40px;
	background-color: #FF9100;
	display: inline-block;
	border-bottom: 1px solid gray;
	/*position: relative;*/
}

.name{
	color: white;
	position: relative;
	float: left;
	top: 5px;
	left: 5px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	/*background-color: white;*/
	text-align: center;
	display: block;
	font-family: 'Open Sans', sans-serif;
}

.amount{
	color: white;
	position: relative;
	float: left;
	top: 5px;
	left: 40px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	/*background-color: white;*/
	text-align: center;
	display: block;
	font-family: 'Open Sans', sans-serif;
}

a{
	text-decoration: none;
	color: white;
}

.checkButton{
	color: white;
	position: relative;
	float: left;
	top: 5px;
	left: 70px;
	width: 100px;
	height: 30px;
	line-height: 26px;
	/*background-color: white;*/
	text-align: center;
	display: block;
	border-radius: 0px;
	border: none;
	background-color: #BDBDBD;
	font-family: 'Open Sans', sans-serif;
}

#backIcon {
	position: relative;
	top: 15px;
	right: 30px;
	width: 50px;
	height: 50px;
	font-size: 4em;
	padding: 0;
	margin: 0;
}

