body {
	width: 375px;
	height: 812px;
	border: 1px solid bla;
}


.homeHeader {
	height: 140px;
	line-height: 140px;
	width: 343px;
	padding: 0px 16px;
	text-align: center;
	border: 1px solid black;
	background-color: gray;
}


.headerIcon {
	max-height: 8%;
	max-width:  8%;
}

.cartIcon {
	float: left;
	position: relative;
	top: 50px;
	left: 20px;
}

.loupeIcon {
	float: right;
	position: relative;
	top: 50px;
	right: 20px;
}



#theHeader {
    background-color: black;
    height: 145px;
    line-height: 145px;
    width: 375px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#header_title{
	color: white;
	font-size: 40px;
}

.searchBarContainer {
	padding: 0px 16px;
}


#searchBar{
	width: 80%;
	border-radius: 5px;
	height: 25px;
	margin: 5px auto;
}
.foodBlock{
	width: 375px;
	height: 40px;
	background-color: black;
	position: relative;
}

.name{
	position: relative;
	float: left;
	top: 5px;
	left: 5px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background-color: white;
	text-align: center;
	display: block;
}

.amount{
	position: relative;
	float: left;
	top: 5px;
	left: 40px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background-color: white;
	text-align: center;
	display: block;
}

.checkButton{
	position: relative;
	float: left;
	top: 5px;
	left: 70px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background-color: white;
	text-align: center;
	display: block;
}

body{
	position: relative;
    padding: 0px;
    margin: 0px;
}
