body {
	width: 374px;
	height: 812px;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

header {
	height: 145px;
	line-height: 145px;
	width: 374px;
	text-align: center;
	color: white;
	font-size: 1.6em;
	background-color: #424242;
}

#backIcon {
	position: relative;
	top: 15px;
	right: 30px;
	width: 50px;
	height: 50px;
	font-size: 4em;
	padding: 0;
	margin: 0;
}

#headerTitle {
	width: 100%;
}


main {
	height: 589px;
	width: 375px;
	text-align: center;
}

.profile {
	color:white;
	height: 250px;
	text-align: center;
	background-color: #FF9100;
}

.profileContent {
	height: 140px;
	padding-top: 10px;

}

.profile-picture {
	max-height: 60%;
	max-width: 60%;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
/*	margin-top: 10px;
*/}

.sampleStar {
	max-height: 10%;
	max-width: 10%;
	margin-top: 10px;
}

.profile-name {
	font-size: large;
	margin-top: 0px;
	margin-bottom: 0px;
}

.profile-location {
	margin: 2px auto;
	padding-bottom: 5px;
}

.foodDiscription {
	height: 369px;
	background-color: #F7EDCA;
	padding: 20px;
}

.requestRow {
	border: 1px solid #F9AC5E;
	margin: 0px 10px  10px 10px;
	border-radius: 20px;
	background-color: #F9AC5E;

}

.foodRequstTag {
	text-align: left;
	padding-left: 20px;

}

.requestContentName {
	font-weight: 900;
	font-size: 20px;
	margin-left: 10px;
}



.icons {
	margin-top: 10px;
}

.icons a{
	padding: 0 3%;

}






