/**
 * CSS page
 */

#foodList
{
	list-style-type: none;
	margin-left: 0em;
	padding-left: 0em;
}

header {
	height: 100px;
	line-height: 100px;
	width: 375px;
	text-align: center;
	color: white;
	font-size: 1.6em;
	background-color: #424242;
}

#backIcon {
	position: fixed;
	width: 50px;
	height: 50px;
	font-size: 4em;
	padding: 0;
	margin: 0;
	left: 0.1em;
	top: 0.2em;
}

#headerTitle {
	position: relative;
	width: 100%;
}

body {
	position: relative;
    padding: 0px;
    margin: 0px;
}

.foodElem
{
	height: 5em;
	margin-bottom: 0.5em;
	/*padding-top: 1em;*/
	/*padding-bottom: 1em;*/
	/*padding-left: 1em;*/
	/*padding-right: 1em;*/
	background-color: #DDD;

	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	/*font-size: 1.6em;*/
}

hr
{
	margin-top: 4px;
	margin-bottom: 4px;
}


.food_div_L
{
	margin: 0px;
	padding: 0px;
	float: left;
}

.food_div_M
{
	display: inline-block;
	padding-left: 1em;
	padding-top: 0.4em;
	width: 55%;
}

.food_div_R
{
	width: 3em;
	padding-top: 0.6em;
	padding-right: 0.6em;
	text-align: center;
	float: right;
}


.food_img
{
	width: 5em;
	height: 5em;
}


.food_name
{
	font-size: 1.6em;
}

.food_comments
{
	font-size: 1em;
}

.food_num
{
	padding-top: 0.1em;
	font-size: 1.8em;
}

.food_unit
{
	/*position: fixed;*/
	padding-top: 0.2em;
	font-size: 1em;
}

.hide
{
	display: none;
}

#editShroud
{
	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;
	background-color: rgba(110, 110, 110, .6);
	z-index: 60;
}

#foodEdit
{
	/*display: none;*/
	z-index: 100;

	position: fixed;
	top: 2em;

	width: 96%;

	height: 5em;
	margin-bottom: 0.5em;
	/*padding-top: 1em;*/
	/*padding-bottom: 1em;*/
	/*padding-left: 1em;*/
	/*padding-right: 1em;*/
	background-color: #EEE;

	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	/*font-size: 1.6em;*/
}


#fedit_L
{
	margin: 0px;
	padding: 0px;
	float: left;
}

#fedit_M
{
	display: inline-block;
	padding-left: 1em;
	padding-top: 0.4em;
	width: 55%;
}

#fedit_R
{
	width: 3em;
	padding-top: 0.6em;
	padding-right: 0.6em;
	text-align: center;
	float: right;
}


#fedit_image
{
	width: 5em;
	height: 5em;
}


#fedit_name
{
	font-size: 1.6em;
}

#fedit_desc
{
	font-size: 1em;
}

#fedit_num
{
	padding-top: 0.1em;
	font-size: 1.8em;
}

#fedit_unit
{
	/*position: fixed;*/
	padding-top: 0.2em;
	font-size: 1em;
}

